[Rr]elease/
[Oo]bj
[Bb]in
deploy
deploy/*
*.csproj.user
*.suo
*.cache
TestResults/
NuGetPackages/
*_mm_cache.bin
*/AutoTest.config
*/AutoTest.config.old
*.camrec
*.camproj
*.wav
*.manifest
*.v2
*.vsidx
*.lock
*.testlog
*.1
packages
